.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}

small.page_no {
  float: right;
  color: #ddd;
}

.pagination {
  background-color: #eee;
  margin: 10px 0px;
}

.pagination a {
  color: #222;
  text-decoration: none;
  text-align: center;
  line-height: 35px;
  float: left;
  background-color: #F0F0F0;
  border: 1.25px solid #808080;
  min-width: 45px;
  height: 35px;
}

.pagination a.disabled {
  color: #ccc;
}

a.active {
  background-color: #585858;
  color: #FFFFFF;
}

.pagination a.last {
  //clear: both;
}

ol li{
  display: inline;
  float: left;
}

.footer {
  line-height: 25px;
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
}